<div class="main-body ">
  <h1 class="mid-text-head">
    <b>How it started</b>
  </h1>
  <p class="mid-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit 
    anim id est laborum.</p>
  <div class="team-contact team-contact-grid container">
    <div class="lisa">
      <img 
        src="../assets/images/img_lisa.jpg" 
        class="lisa_image_contact">
      <p class="lisa-contact">
        <b>Lisa</b><br>
        <span style="color: #4f4d53;">lisa@gtd.co</span>
      </p>
    </div>
    <div class="danielle">
      <img 
        src="../assets/images/img_danielle.jpg" 
        class="danielle_image_contact">
      <p class="danielle-contact">
        <b>Danielle</b><br>
        <span style="color: #4f4d53;">danielle@gtd.co<br>(123) 456-7890</span>
      </p>
    </div>
  </div>
</div>