<div style="padding-top:15%"><hr></div>
<div class="end">
  <div class="container footer">
    <div class="team">
        <p class="lisa-contact"><b>Team</b><br><br><span style="color: #959498;font-size: 16px;">Lisa<br>Danielle<br>Brian<br><br>Join us!</span></p>
    </div>
    <div class="learn-more">
      <p class="lisa-contact"><b>LearnMore</b><br><br><span style="color: #959498;font-size: 16px;">Manifesto<br>Works<br>Stories</span></p>
    </div>
    <div class="meet-us">
      <p class="lisa-contact"><b>Meet Us</b><br><br><span style="color: #959498;font-size: 16px;">Studio<br>Community<br>Workshops</span></p>
    </div>
    <div class="contact">
      <p class="lisa-contact"><b>Contact</b><br><br><span style="color: #959498;font-size: 16px;" >Twitter<br>Facebook<br>Instagram</span></p>
    </div>
  </div>
</div>			